@media only screen and (max-width: 768px) {

/* ОСНОВНЫЕ СВОЙСТВА */

html, body {
  height: 844px;
  width: 100vw;

  margin: 0;
  padding: 0;

  overflow: hidden; /* Чтобы отключить прокрутку */
}

body {
	color: #19356C;
	font-family: 'Open Sans', sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 12px;  
	background-color: #EDF3FF;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Вся ширина страницы */
    border: 5px solid #19356C;
    pointer-events: none;
    z-index: -1;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 27px;
    height: 93px;
  }

main {
  padding: 20px 27px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 7px;

    font-weight: 400; /* или normal */
    font-size: 12px;
}

  /* СТИЛИ ДЛЯ КЛАССОВ */
  
  .content {
    display: grid;
    justify-content: center;
    padding: 5px 27px;
  }
  
  .content-logo {
    width: 100%;
  }

.content-text {
  padding-top: 10px;
}

.content-text p {
  font-size: 39px;
  line-height: 1.3;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

/* КНОПКИ */

.content-button {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; */
  position: absolute;
  bottom: 0;
  height: 135px;
}

.content-button a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; /* SemiBold */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EDF3FF;
  background-color: #19356C;
  width: 336px;
  height: 67px;
  font-size: 18px;  
  text-decoration: none;
  text-align: center;
  /* margin-top: 30px; */
}

/* .content-button a:hover {
  background-color: #19356C;
} */

/* .content-button a:focus {
  background-color: green;
} */



/* Страница с вопросом и ответами */

h3 {
  margin: 0;

  font-weight: 600;
}

.header-question {  
  font-size: 20px;
  line-height: 26px;

  padding-bottom: 0;

  justify-content: space-between;
}

.header-question--category {
  font-size: 18px;
}

.header-question--numbers {
  margin: 0;

  font-size: 15px;
  font-weight: 600;
}

main {
  /* padding-top: 0; */
  position: relative;
  padding-bottom: 45px;
}

.content-question {
  font-size: 20px;
  line-height: 26px;
}

.content-question--title h3 {
  margin-bottom: 0;
  hyphens: auto;
}

.content-question--answers-list {
  margin-top: 20px;
  
  padding: 0;
  list-style: none;
  font-weight: 400;
}

.content-question--answers-list label {
  font-size: 16px;
}

li {
  margin-bottom: 24px;
}

.answer-input {
  width: 100%;
  min-height: 40px;

  border-radius: 10px;
  border-color: #19356C;
}

.btn--next {
  position: absolute;
  bottom: 0px;
  right: 0px;

  margin-right: 27px;
}

/* .content-button {
  margin-top: 0;
} */


/* Страница с ответами */
.hidden {
  display: none;
}

}