<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/phone-question.css">
    <link rel="stylesheet" href="../styles/desktop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>Вопросы</title>

</head>

<body>

    <header class="header-question">
        <a href="#" id="back-btn">
            <img src="../images/arrow-left.svg" alt="Назад">
        </a>
        <h3 class="header-question--category" id="category">Категория...</h3>
        <p class="header-question--numbers" id="number">Номер вопроса...</p>
    </header>

    <main>
        <section class="content-question">
            <div class="content-question--title" id="question-title">
                <h3>Загружаем вопрос...</h3>
            </div>

            <ul class="content-question--answers-list" id="answers-list"></ul>
        </section>
    </main>
    
    
    <footer>
            <div class="content-button">
                <input href="#" id="submit" value="Ответить" readonly>
            </div>
            <p>
                Copyright by ДоМос
            </p>
    </footer>

    <script type="module" src="../scripts/script.js"></script>
    <script type="module" src="../scripts/data.js"></script>

</body>

<template id="email-template">
    <section class="content-email">
        <h3 class="header-question--category margin">Получить результат опроса</h3>
        <form action="send_mail.php" name="form" method="POST">
            <div class="feedback-inputs">
                <input 
                    type="text" 
                    placeholder="Ваше имя"
                    class="answer-input"
                    name="name"
                    id="name"
                    data-reg="^[А-ЯЁ][а-яё]*$" 
                    required
                    maxlength="20"
                >
                <input 
                    type="text" 
                    placeholder="Введите email"
                    class="answer-input" 
                    name="email"
                    id="email"
                    data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"
                    required
                    maxlength="50"
                >
            </div>
            <div class="button" 
            style="
            justify-content: center;
            display: flex;
            margin-bottom: -95px;
            ">
                <input type="submit" id="button" value="Получить результат" 
                style="
                text-align: center;
                text-decoration: none;
                font-size: 18px;
                height: 67px;
                width: 336px;
                background-color: #19356C;
                color: #EDF3FF;
                justify-content: center;
                align-items: center;
                display: flex;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                margin-top: 31px;
                "/>
            </div>
        </form>
    </section>
</template>

</html>